---

---

@charset "utf-8"

/* path to glyphicons */
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/"

/* custom variable */
// $body-bg: red
@import "bootstrap/variables"


// general
.col-same-height
    display: table-cell
    float: none !important

.row-same-height
    display: table
    width: 100%

html
    min-height: 100%
    position: relative

.outer
    margin-bottom: 60px
    @media (min-width: $screen-sm-min)
        margin-bottom: 120px





// navbar stuff
.navbar-brand
    background: url("/images/xs-logo.png") center / contain no-repeat
    width: 200px
    transform: translateX(-50%)
    left: 50%
    position: absolute

.navbar .container-fluid, .navbar-collapse
    padding-left: 0


// theme header stuff
.theme_header
    @extend .jumbotron
    background-repeat: no-repeat
    background-size: auto 100%

.theme_text
    text-align: right
    height: 100%
    padding-right: 1em
    @media (min-width: $screen-sm-min)
        padding-right: 0


// footer stuff
.footer
    position: absolute
    bottom: 0
    width: 100%
    height: 60px
    background-color: #f8f8f8

.footer-text
    color: #919191
    margin: 20px 0
    text-align: center


// home page
.index-title
    line-height: 0.5
    text-align: center
    > h4
        display: inline-block
        background-color: white

.long-dash
    display: inline-block
    border-bottom: 1px solid black
    margin-bottom: 0.3em
    width: 10%



// recipes
.recipe-title
    padding-bottom: 1em
    @media (min-width: $screen-sm-min)
        padding-bottom: 3em

.recipe-stats
    // background-color: #f8f8f8
    // padding: 1em
    // border: 1px solid #e7e7e7
    // border-radius: 4px
    padding: 1em 0
    margin-left: 25px

.ingred-amount
    font-weight: bold




/* any style customization must be before the bootstrap import */
@import "bootstrap"
