---

---

@charset "utf-8"

/* path to glyphicons */
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/"

/* custom variable */
// $body-bg: red
@import "bootstrap/variables"


// general
.col-same-height
    display: table-cell
    float: none !important

.row-same-height
    display: table
    width: 100%



// navbar stuff
.navbar-brand
    background: url("/images/xs-logo.png") center / contain no-repeat
    width: 200px
    transform: translateX(-50%)
    left: 50%
    position: absolute

.navbar .container-fluid, .navbar-collapse
    padding-left: 0


// theme header stuff
.theme_header
    @extend .jumbotron
    background-repeat: no-repeat
    background-size: auto 100%

.theme_text
    text-align: right
    height: 100%
    padding-right: 1em
    @media (min-width: $screen-sm-min)
        padding-right: 0


// home page
.index-title
    line-height: 0.5
    text-align: center
    > h4
        display: inline-block
        background-color: white

.long-dash
    display: inline-block
    border-bottom: 1px solid black
    margin-bottom: 0.3em
    width: 10%




/* any style customization must be before the bootstrap import */
@import "bootstrap"
