---
layout: master
---

{% include theme_headers/test_theme.html %}

<div class="row">
    <div class="col-xs-12 index-title">
        <span class="long-dash"></span> <h4>{% t global.recent_posts %}</h4> <span class="long-dash"></span>
    </div>

    <div class="col-xs-12">
        <ul>
            {% for post in site.posts %}
                <li>
                    <a href="{% t global.lang_url %}{{ post.url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
