    <ul class="nav navbar-nav navbar-left">
        <li><a href="{{ site.baseurl }}/">{% t pages.index.title %}</a></li>
        {%comment%}<li><a href="{{ site.baseurl }}/m/">{% t pages.months.title %}</a></li>{%endcomment%}
        <li><a href="{{ site.baseurl }}/all_recipes/">{% t pages.all_recipes.title %}</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}/about/">{% t pages.about.title_short %}</a></li>
        <li>{% include lang_switch.html %}</li>
    </ul>
