---
layout: master
---

{% include theme_headers/{{page.theme_header}}.html %}

<div class="row">
    <div class="month-top-text">
        {{ content }}
    </div>
</div>

<div class="row">
    {% for post in site.categories[page.cat] %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="index-thumbnail" style="background-image:url(/images/{{ post.image }})">
                    <div class="thumbnail-gradient">
                    <div class="thumbnail-caption">
                        <a href="{% t global.lang_url %}{{ post.url }}"><h3>{{ post.title }}<h3></a>
                    </div>
                    </div>
                </div>
            </div>
    {% endfor %}
</div>