<div class="theme_header" style="background-image: url('/images/chili-test-2.png'); background-color: #158861; color: #E9E6FC;">
    <div class="theme_text">
        {% assign theme_header = "2017-01" %}
        {% if page.theme_header != theme_header %}
            <a href="{% t global.lang_url %}/m/2017-01/">
        {% endif %}
        <h1>{% t theme.2017-01.name %}</h1>
        <h2>{% t theme.2017-01.month %}</h2>
        {% if page.theme_header != theme_header %}
            </a>
        {% endif %}
    </div>
</div>